body,html {
	margin:0;
	height:100%;
	width:100%;
}

#map {
	height: 100%;
}

body {
	display: grid;
	grid-template-rows: 80px 1fr;
	grid-template-columns: 270px 1fr;
	grid-template-areas: 
	"header header"
	"sidebar content";
	font-family:'Trebuchet MS', Helvetica, sans-serif;font-size: 17px;
}

.header {
	grid-area: header;
	padding:10px;
	background-color: #403edb;
	color: aliceblue;
	font-size:40px;
}

.sidebar {
	color: rgb(41, 138, 223);
	grid-area: sidebar;
	padding:10px;
	background-color: #e1e8f8;
    overflow: auto; /* allows the sidebar to overflow with a scrollbar */
}

.content {
	grid-area: content;
}

.sidebar-item {
    padding: 1px; /* adds inner padding */
    background: rgba(220, 220, 220, 0); /* background color of the card */
    border: 0px solid rgb(0, 0, 0); /* border width and color */
    margin: 5px; /* outer padding */
	cursor: pointer; /* change cursor to hand on hover */
	float: left;
	clear: none;
}